.app {
  margin: 0 auto;
}
button {
  all: unset;
  cursor: pointer;
}

input {
  margin: 10px;
  width: 15vw;
}

button:focus {
  outline: revert;
}

.container {
  margin: 0 auto;
  max-width: 1046px;
}
