.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
    width: 50vw;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__submit {
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background: var(--primary-color, #ff685b);
    color: var(--light-text-color, #fff);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
  }
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content.active {
  transform: scale(1);
}
