.contacts {
  margin-top: 185px;
  color: var(--text-color);
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.2px;
}

@media (max-width: 1024px) {
  .contacts__title {
    font-size: 7vw;
  }
}
@media (max-width: 565px) {
  .contacts__title {
    font-size: 10vw;
  }
}
